.projectDetails {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: #2b3035;
    color: white;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    opacity: 0; /* Initially hide the component */
}

.projectDetails.show {
    transform: translateX(0);
    opacity: 1; /* Fade in the component */
}

.projectDetails.hide {
    transform: translateX(100%);
    opacity: 0; /* Fade out the component */
}

.closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.projectTitle {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.projectDescription {
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    .projectDetails {
        width: 100%;
        transform: translateY(100%);
    }

    .projectDetails.show {
        transform: translateY(0);
    }

    .projectDetails.hide {
        transform: translateY(100%);
    }
}