.schoolList {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}
  
.arrow {
    font-size: 24px;
    color: white;
}

@media (max-width: 1676px) {
    .schoolList {
        flex-direction: column;
    }

    .arrow {
        transform: rotate(90deg);
    }
}