.project-btn {
    color: black;
    border-radius: 25px;
    font-weight: normal;
}

.popup-contact {
    display: flex;
    left: 30vw;
    z-index: 10;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.me-contact {
    background-color: #2b3035;
    color: white;
    border-radius: 25px;
    font-weight: normal;
}

@media (max-width: 550px) {
    .me-content {
        margin: 0 auto;
    }
}