.cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.cv-container iframe {
    flex-grow: 1;
    width: 100%;
    border: none; /* Supprime la bordure de l'iframe */
}