.cardElement {
    background-color: #2b3035;
    width: 300px;
    height: 26vh;
}

/* project.css */
.visible-button {
    margin-top: auto; /* Assurez-vous que le bouton est aligné en bas */
    margin-bottom: auto; /* Assurez-vous que le bouton est aligné en bas */
}

@media (max-width: 768px) {
    .visible-button {
        margin-top: 0; /* Ajustez la marge supérieure pour les petites fenêtres */
        margin-bottom: 0; /* Ajustez la marge inférieure pour les petites fenêtres */
    }
}